@import "tailwindcss";
@import "@nuxt/ui";

.fade-all-edges {
    -webkit-mask-image:
            linear-gradient(to right, transparent 0, black 28px, black calc(100% - 28px), transparent 100%),
            linear-gradient(to bottom, transparent 0, black 28px, black calc(100% - 28px), transparent 100%);
    -webkit-mask-composite: intersect;
    mask-image:
            linear-gradient(to right, transparent 0, black 28px, black calc(100% - 28px), transparent 100%),
            linear-gradient(to bottom, transparent 0, black 28px, black calc(100% - 28px), transparent 100%);
    mask-composite: intersect;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}